@* BSignup.cshtml *@
@{
    ViewData["Title"] = "İşletme Kaydı";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg rounded-3">
                <div class="card-body p-5">
                    <h4 class="text-center text-dark mb-4">İşletme Kaydı</h4>

                    <form asp-controller="Home" asp-action="BusinessSignup" method="post" enctype="multipart/form-data">
                        <h5 class="text-dark mb-3">İşletme Bilgileri</h5>
                        @* Business Type (New) *@
                        <div class="form-floating mb-3">
                            <select class="form-select" id="businessType">
                                <option value="">Seçiniz</option>
                                <option value="hairdresser">Kuaför/Berber</option>
                                <option value="beauty-salon">Kuaför/Güzellik Salonu</option>
                            </select>
                            <label for="businessType">İşletme Türü</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="businessName" placeholder="İşletme Adı">
                            <label for="businessName">İşletme Adı</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="businessDescription" placeholder="İşletme Açıklaması" style="height: 120px;"></textarea>
                            <label for="businessDescription">İşletme Açıklaması</label>
                        </div>

                        <hr class="my-4">

                        <h5 class="text-dark mb-3">İletişim Bilgileri</h5>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="streetAddress" placeholder="Sokak">
                                    <label for="streetAddress">Sokak</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="district" placeholder="İlçe">
                                    <label for="district">İlçe</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="city" placeholder="Şehir">
                                    <label for="city">Şehir</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="postalCode" placeholder="Posta Kodu">
                                    <label for="postalCode">Posta Kodu</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Telefon Numarası">
                                    <label for="phoneNumber">Telefon Numarası</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="E-posta Adresi">
                                    <label for="email">E-posta Adresi</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="url" class="form-control" id="website" placeholder="Web Sitesi URL'si">
                                    <label for="website">Web Sitesi URL'si (Varsa)</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="url" class="form-control" id="socialMedia" placeholder="Sosyal Medya Hesabı">
                                    <label for="socialMedia">Sosyal Medya Hesabı (Varsa)</label>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <h5 class="text-dark mb-3">Görseller</h5>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="galleryPhotos" class="form-label">Galeri Fotoğrafları (Çoklu Seçim)</label>
                                <input type="file" class="form-control" id="galleryPhotos" multiple>
                            </div>
                            <div class="col-md-6">
                                <label for="logo" class="form-label">Logo</label>
                                <input type="file" class="form-control" id="logo">
                            </div>
                        </div>

                        <hr class="my-4">

                        <h5 class="text-dark mb-3">Personel Bilgileri</h5>
                        <div id="staffContainer">
                            @* Initial staff input group (cloned for new staff members) *@
                            <div class="staff-group mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control staff-name" placeholder="Çalışan Adı">
                                            <label>Çalışan Adı</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control staff-specialty" placeholder="Uzmanlık Alanı">
                                            <label>Uzmanlık Alanı</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Fotoğraf</label>
                                        <input type="file" class="form-control staff-photo">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <textarea class="form-control staff-bio" placeholder="Kısa Biyografi" style="height: 100px;"></textarea>
                                            <label>Kısa Biyografi</label>
                                        </div>
                                    </div>
                                </div>

                                @* Working Hours for Staff *@
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label class="form-label">Çalışma Saatleri</label>
                                        <table class="table table-bordered staff-working-hours-table">
                                            <thead>
                                                <tr>
                                                    <th>Gün</th>
                                                    <th>Açılış</th>
                                                    <th>Kapanış</th>
                                                    <th>Tüm Gün</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var day in new[] { "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar" })
                                                {
                                                    <tr>
                                                        <td>@day</td>
                                                        <td>
                                                            <input type="time" class="form-control staff-working-hours-open" data-day="@day">
                                                        </td>
                                                        <td>
                                                            <input type="time" class="form-control staff-working-hours-close" data-day="@day">
                                                        </td>
                                                        <td>
                                                            <div class="form-check d-flex justify-content-center">
                                                                <input class="form-check-input staff-working-hours-all-day" type="checkbox" data-day="@day">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-outline-danger remove-staff">Personel Sil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" id="addStaff">Personel Ekle</button>

                        <hr class="my-4">

                        <h5 class="text-dark mb-3">Hizmetler</h5>
                        <div id="servicesContainer">
                            @* Initial service input group (cloned for new services) *@
                            <div class="service-group mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control service-name" placeholder="Hizmet Adı">
                                            <label>Hizmet Adı</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control service-price" placeholder="Fiyat">
                                            <label>Fiyat</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control service-duration" placeholder="Süre (dk)">
                                            <label>Süre (dk)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control service-description" placeholder="Hizmet Açıklaması" style="height: 100px;"></textarea>
                                            <label>Hizmet Açıklaması</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select service-staff">
                                                <option value="">Personel Seçiniz</option>
                                                @* Populate with staff names dynamically *@
                                            </select>
                                            <label>İlgili Personel</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-outline-danger remove-service">Sil</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" id="addService">Hizmet Ekle</button>

                        <hr class="my-4">

                        <h5 class="text-dark mb-3">Çalışma Saatleri</h5>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Gün</th>
                                            <th>Açılış</th>
                                            <th>Kapanış</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var day in new[] { "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar" })
                                        {
                                            <tr>
                                                <td>@day</td>
                                                <td>
                                                    <input type="time" class="form-control working-hours-open" name="@day-open">
                                                </td>
                                                <td>
                                                    <input type="time" class="form-control working-hours-close" name="@day-close">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-accent">Kaydı Tamamla</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* General Styling */
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #212529; /* Dark text color */
        background-color: #f8f9fa; /* Light background color */
    }

    .container {
        max-width: 1200px;
    }

    /* Color Palette */
    .text-gold {
        color: #d4af37; /* Gold - used for headings */
    }

    .text-secondary {
        color: #6c757d; /* Medium grey - used for less important text */
    }

    .text-dark {
        color: #212529; /* Dark text color */
    }

    .btn-accent {
        background-color: #d4af37; /* Gold - used for buttons */
        border-color: #d4af37;
        color: #f8f9fa; /* Light text on buttons */
    }

        .btn-accent:hover {
            background-color: #b8860b; /* Darker Gold for hover effect */
            border-color: #b8860b;
        }

    /* Form Styling */
    .form-control {
        border: 1px solid #d4af37;
        background-color: #ffffff;
        color: #212529;
    }

        .form-control:focus {
            border-color: #b8860b;
            box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.25);
        }

    .form-check-input:checked {
        background-color: #d4af37;
        border-color: #d4af37;
    }

    .form-check-input:focus {
        border-color: #b8860b;
        box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.25);
    }

    .form-floating > label {
        color: #6c757d;
    }

    /* Card Styling */
    .card {
        border: none;
    }

    .card-body {
        padding: 2rem;
    }

    /* Section Separator */
    hr {
        border: none;
        border-top: 1px solid #d4af37;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* Remove Service Button */
    .remove-service, .remove-staff {
        background-color: transparent;
        border-color: #dc3545;
        color: #dc3545;
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.2rem;
    }

        .remove-service:hover, .remove-staff:hover {
            background-color: #dc3545;
            color: #fff;
        }

    /* Staff Working Hours Table */
    .staff-working-hours-table {
        background-color: #fff;
        border-radius: 0.3rem;
    }

        .staff-working-hours-table th {
            background-color: #f8f9fa;
            border-bottom: 2px solid #e0e0e0;
            font-weight: 600;
        }

        .staff-working-hours-table td {
            vertical-align: middle;
        }

        .staff-working-hours-table .form-control {
            border-radius: 0.2rem;
            padding: 0.3rem 0.5rem;
        }

        .staff-working-hours-table .form-check-input {
            width: 1.2em;
            height: 1.2em;
            margin-top: 0;
        }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Add Service Button
            $("#addService").click(function () {
                var newServiceGroup = $(".service-group").first().clone();
                newServiceGroup.find("input, textarea, select").val(""); // Clear values
                $("#servicesContainer").append(newServiceGroup);
            });

            // Remove Service Button
            $("#servicesContainer").on("click", ".remove-service", function () {
                if ($(".service-group").length > 1) {
                    $(this).closest(".service-group").remove();
                } else {
                    alert("En az bir hizmet eklemek zorunludur.");
                }
            });

            // Handle working hours for staff
            function handleStaffWorkingHours(staffGroup) {
                const allDayCheckboxes = staffGroup.find(".staff-working-hours-all-day");
                const timeInputs = staffGroup.find(".staff-working-hours-open, .staff-working-hours-close");

                allDayCheckboxes.on("change", function () {
                    const day = $(this).data("day");
                    const isChecked = $(this).is(":checked");

                    const openInput = staffGroup.find(`.staff-working-hours-open[data-day="${day}"]`);
                    const closeInput = staffGroup.find(`.staff-working-hours-close[data-day="${day}"]`);

                    if (isChecked) {
                        openInput.val("").prop("disabled", true);
                        closeInput.val("").prop("disabled", true);
                    } else {
                        openInput.prop("disabled", false);
                        closeInput.prop("disabled", false);
                    }
                });
            }

            // Initial handling of working hours for existing staff groups
            $(".staff-group").each(function () {
                handleStaffWorkingHours($(this));
            });

            // Add Staff Button (modified to handle working hours in the new staff group)
            $("#addStaff").click(function () {
                var newStaffGroup = $(".staff-group").first().clone();
                newStaffGroup.find("input, textarea").val(""); // Clear values
                newStaffGroup.find(".staff-working-hours-all-day").prop("checked", false); // Uncheck all-day checkboxes
                newStaffGroup.find(".staff-working-hours-open, .staff-working-hours-close").prop("disabled", false); // Enable time inputs
                $("#staffContainer").append(newStaffGroup);

                // Handle working hours for the newly added staff group
                handleStaffWorkingHours(newStaffGroup);
            });

            // Remove Staff Button
            $("#staffContainer").on("click", ".remove-staff", function () {
                if ($(".staff-group").length > 1) {
                    $(this).closest(".staff-group").remove();
                } else {
                    alert("En az bir personel eklemek zorunludur.");
                }
            });
        });
    </script>
}